$green:#0EC2AB;//主题绿色
$grew1:#7A8185;//深灰
$grew2:#B2B2B2;//浅灰
$grew3:#FAFAFA;//背景灰
$grew4:#EEEEEE;//线条灰
$grew5:#CCCCCC;//详细内容头部灰
$white:#FFFFFF;//白色
$orange:#FFD161;//橘色
$orange1:#FFCC54;//橘色1
$red:#FF6347;//红色
$redb:#FF7256;//红色边框
$redp:#FFF8DC;//肉色粉底
$black:#303030;//黑色
$blue:#378DED;//蓝色
//宽高设置
@mixin wh($width,$height){
	width:$width;
	height:$height;
}
@mixin juzhong(){
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
@mixin fontstyle1($size,$color){
	font-size:$size;
	color:$color;
}
@mixin fontstyle2($size,$color,$weight,$family:'PingFangSC-Regular'){
	font-family: $family;
    font-size: $size;
    color: $color;
    font-weight:$weight;
}